
account/.classpath
account/.project
account/.settings/*
account/target/*
api-gateway/.classpath
api-gateway/.project
api-gateway/.settings/*
api-gateway/target/*
customer/.classpath
customer/.project
customer/.settings/*
customer/target/*
keycloak/.classpath
keycloak/.project
keycloak/.settings/*
keycloak/target/*
mgmt-ui/.classpath
mgmt-ui/.project
mgmt-ui/.settings/*
mgmt-ui/target/*
